@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,900&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;

   

}
@media only screen and (max-width:600px){
    .name{
        text-align: center;
        font-weight: 800;
        font-size: 40px;
        margin-top: 10px;
    }
    .insta-box{
        position: relative;
        display: flex;
        height: 60px;
        margin: 20px;
        top: 20px;
        border-radius: 18px;
        border: 1px solid #D2D2D2;
        background: linear-gradient(87deg, rgba(251, 204, 43, 0.14) 0%, rgba(227, 28, 133, 0.14) 61.46%, rgba(149, 28, 183, 0.14) 100%), #FFF;
        box-shadow: 0px 11px 25px -2px rgba(0, 0, 0, 0.11);
    }
    .insta-icon{
        margin-top: 11px;
        margin-right: 6px;
        margin-left: 15px;
        height: 36px;
    }
    .insta-box h3{
        position: absolute;
        padding-top: 17px;
        left: 18%;
    }
    .insta-box p{
        position: absolute;
        padding-top: 20px;
        right: 7%;
        color: #5e5e5e;
        font-size: 14px;
    }
    .about-box{
        position: relative;
        top: 25px;
        margin: 20px;
        height: fit-content;
        border-radius: 18px;
        border: 1px solid #D2D2D2;
        background: #F5F5F5;
        box-shadow: 0px 11px 25px -2px rgba(0, 0, 0, 0.11);
    }
    .about-box h1{
        position: relative;
        text-align: center;
        top: 15px;
        font-size: 25px;
    }
    .about-box p{
        position: relative;
        text-align: center;
        font-size: 14px;
        top: 2px;
        margin: 20px;
        color: #5e5e5e;
        margin-bottom: 30px;
        line-height: 142.7%; 

    }
    .git-box{
        position: relative;
        display: flex;
        border-radius: 18px;
        border: 1px solid #D2D2D2;
        background: #FFF;
        height: 70px;
        width: 100%;
        box-shadow: 0px 11px 25px -2px rgba(0, 0, 0, 0.11);
    }
    .git-box img{
        position: relative;
        width: 35px;
        height: 35px;
        top: 15px;
        left: 12px;

    }
    .git-box h3{
        position: relative;
        top: 23px;
        left: 20px;
        font-size: 17px;
    }
    .snap-box{
        position: relative;
        display: flex;
        border-radius: 18px;
        border: 1px solid #D2D2D2;
        background: #FFF;
        height: 70px;
        width: 100%;
        box-shadow: 0px 11px 25px -2px rgba(0, 0, 0, 0.11);
    }
    .snap-box img{
        position: relative;
        width: 35px;
        height: 35px;
        top: 15px;
        left: 12px;

    }
    .snap-box h3{
        position: relative;
        top: 23px;
        left: 20px;
        font-size: 17px;
    }
    .linkedin-box{
        position: relative;
        display: flex;
        border-radius: 18px;
        border: 1px solid #D2D2D2;
        background: #FFF;
        height: 70px;
        width: 100%;
        box-shadow: 0px 11px 25px -2px rgba(0, 0, 0, 0.11);
    }
    .linkedin-box img{
        position: relative;
        width: 35px;
        height: 35px;
        top: 15px;
        left: 12px;

    }
    .linkedin-box h3{
        position: relative;
        top: 23px;
        left: 20px;
        font-size: 17px;
    }
    .whatsapp-box{
        position: relative;
        display: flex;
        border-radius: 18px;
        border: 1px solid #D2D2D2;
        background: #FFF;
        height: 70px;
        width: 100%;
        box-shadow: 0px 11px 25px -2px rgba(0, 0, 0, 0.11);
    }
    .whatsapp-box img{
        position: relative;
        width: 35px;
        height: 35px;
        top: 15px;
        left: 12px;

    }
    .whatsapp-box h3{
        position: relative;
        top: 23px;
        left: 20px;
        font-size: 17px;
    }
    .spot-box{
        position: relative;
        display: flex;
        border-radius: 18px;
        border: 1px solid #D2D2D2;
        background: #FFF;
        height: 160px;
        width: 100%;
        grid-row: span 2;
        box-shadow: 0px 11px 25px -2px rgba(0, 0, 0, 0.11);
    }
    .spot-icon{
        position: relative;
        width: 35px;
        height: 35px;
        top: 15px;
        left: 12px;

    }
    .spot-box h3{
        position: relative;
        top: 23px;
        left: 20px;
        font-size: 17px;
    }
    .spot-box p{
        position: absolute;
        bottom: 15px;
        left: 13%;
        font-size: 17px;
        font-weight: 500;
        
    }
    .audio{
        position:absolute;
        width: 65px;
        height: 60px;
        top: 50px;
        left: 28%;
        opacity: 50%;
    }
    .gmail-box{
        position: relative;
        top: 30px;
        display: flex;
        border-radius: 18px;
        border: 1px solid #D2D2D2;
        background: #FFF;
        height: 70px;
        margin: 20px;
        box-shadow: 0px 11px 25px -2px rgba(0, 0, 0, 0.11);
    }
    .gmail-box img{
        position: relative;
        width: 35px;
        height: 35px;
        top: 15px;
        left: 12px;

    }
    .gmail-box h3{
        position: relative;
        top: 23px;
        left: 20px;
        font-size: 17px;
    }
    .gmail-box p{
        position: relative;
        top: 23px;
        left: 20%;
        font-size: 17px;
    }
    .wigits{
        display: grid;
        position: relative;
        top: 30px;
        margin: 20px;
        border: black;
        gap: 20px;
        height: fit-content;

        grid-template-columns: auto auto ;

    }
}